{% extends 'base.html' %}
{% block title %}Start Page{% endblock %}
{% block content %}
<h1>Flask Boggle</h1>
<h2>Find as many words as you can in 60 seconds!</h2>
<div id="rules">
    <p id="rules-text">
        Rules: 
        <br>1. Each letter after the first must be a horizontal, vertical, or diagonal neighbor of the one before it.
        <br>2. No individual letter cube may be used more than once in a word.
        <br>3. No hyphanated words are allowed.
    </p>
</div>

<div id="start">
    <form action="/game-board">
        <button>Start Game</button>
    </form>
</div>
{% endblock %}